.hover {
  background-image: linear-gradient(#f8d3d3, #f8d3d3);
  background-size: 100% 40%;
  background-position: 0 100%;
  background-repeat: repeat-x;
  transition: all 0.3s linear 0s;
}

.hover:hover {
  background-size: 100% 100%;
}

.signIn::before {
  content: "";
  height: 1px;
  width: 15%;
  background: #c1c1c1;
  position: absolute;
  top: calc(50% + 2px);
  left: -10px;
}
.signIn::after {
  content: "";
  height: 1px;
  width: 15%;
  background: #c1c1c1;
  position: absolute;
  top: calc(50% + 2px);
  right: -10px;
}
