@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --primary: #0f1e94;
  --black: #000;
  --white: #fff;
  --text-color: #161823;

  /* // default layout */
  --default-layout-header-height: 60px;
  /* --default-layout-width: 1150px; */
  --default-layout-horizontal-spacer: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

/* // scroll bars css  */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 5px;
}

html *::-webkit-scrollbar-thumb {
  /* border-radius: 2px; */
  background-color:  #0f1e94;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
/* 
// // fonts embedded
// @font-face {
//   font-family: TikTokFonts;
//   src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
//   font-weight: 700;
// }

// @font-face {
//   font-family: TikTokFonts;
//   src: url('/assets/fonts/TikTokFont-Regular.woff2');
//   font-weight: 400;
// }

// @font-face {
//   font-family: TikTokFonts;
//   src: url('/assets/fonts/TikTokFont-Semibold.woff2');
//   font-weight: 600;
// }

// @font-face {
//   font-family: TikTokFonts;
//   src: url('/src/assets/fonts/TikTokDisplayFont-Bold.woff2');
//   font-weight: 700;
// }


// custom tippy tooltip */
body {
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box {
    line-height: 2.2rem;
    font-size: 1.6rem;
    background-color: rgba(84, 84, 84, 0.92);
  }
}
